*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body,html{
    scroll-behavior: smooth;
    font-family: Raleway, sans-serif;
    height: 100%;
    line-height: 1.8;
}

.row{
    margin-left: -8px;
    margin-right: -8px;
}
.row::after{
    content: "";
    display: block;
    clear: both;
}

/* .clear{
    clear: both;
} */
.letter-wide{
    letter-spacing: 4px;
}

.mt-16{
    margin-top: 16px !important;
}
.mt-48{
    margin-top: 48px !important;
}
.mb-16{
    margin-bottom: 16px !important;
}
.col{
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}
.col-single{
    
}
.col-two{
    width: 50%;
}

.col-quater{
    width: 25%;
}

.col-third{
    float: left;
    padding: 0 8px;
    width: 33.33333%;
}

h3{
    font-size: 24px;
    font-weight: 1;
    margin: 10px 0px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.white-color{
    color: #000;
    background-color: #fff;
}
.black-color{
    color: #fff;
    background-color: #000;
    border: none;
}
.red-color{
    color: #fff!important;
    background-color: #f44336!important;
}
.grey-color{
    background-color: #f1f1f1;
}
.lightgrey-color{
    background-color: #f1f1f1;
}
.darkgrey-color{
    color: #fff!important;
    background-color: #616161!important;
}
.padd-tb-16{
    padding-top: 16px!important;
    padding-bottom: 16px!important;
}
.padd-tb-24{
    padding-top: 24px!important;
    padding-bottom: 24px!important;
}
.padd-tb-32{
    padding-top: 32px !important;
    padding-bottom: 32px !important;
}
.padd-tb-48{
    padding-top: 48px !important;
    padding-bottom: 48px !important;
}
.padd-tb-64{
    padding-top: 64px !important;
    padding-bottom: 64px !important;
}
.fs-18{
    font-size: 18px;
}
.fs-24{
    font-size: 24px;
}
.fs-36{
    font-size: 36px;
}
.fs-64{
    font-size: 64px !important;
}
.font-opacity{
    opacity: 0.6;
}
/* ------------------------------------------- */

#navbar{
    height: 60px;
    background-color: #fff;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    box-shadow:  0 0 10px rgba(0, 0, 0, 0.3);
}

#nav{
    display: block;
}
#nav a{
    display: inline-block;
    text-decoration: none;
    color: #000;
    text-transform: uppercase;
    line-height: 28px;
    padding: 16px;
}
#nav a:hover{
    background-color: #ccc;
}
/* NAV-RIGHT */
.nav-right{
    float: right;
    
}
.nav-right > li{
    display: inline-block;
   
}
.nav-rsub{

}
.teext{
    
}
/* ------------------------------- */
header{
    display: block;
}
.imageSlide {
    background-position: center;
    background-size: cover;
    background-image: url(Slider/mac.jpg);
    height: 820px;
    min-height: 100%;
}
.grayscale-min {
    filter: grayscale(50%);
}
.tooltip, .display-container {
    position: relative;
}
.text-white{
    color: #fff!important;
}
.text-grey{
    color: #757575!important;
}
.display-left {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
}
.display-bottomleft {
    position: absolute;
    left: 0;
    bottom: 0;
}


/* ----------------------------------------- */
.text-content{
    position: absolute;
    bottom: 148px;
    padding: 48px;
    color: #fff;
    /* width: 100%; */
    
}

#header .text-heading{
    font-size: 64px;
    font-weight: 500;
}
#header .text-description{
    font-size: 15px;
    margin-top: 25px;
}
.display-bottomleft{
    position: absolute;
    left: 0;
    bottom: 0;
}

.acard{
    color: #000;
    background-color: #ccc;
    padding: 12px 24px;
    text-decoration: none;
}
.acard:hover{
    color: #000;
    background-color: #f1f1f1;
    opacity: 1;
}


/* CONTENT */
/* about content */
.content-section{
    padding: 128px 16px;
}

.text-center{
    text-align: center !important;
}
.p-large{
    font-size: 18px;
}

/* Under About */
.myimage{
    /* border-radius: 8px; */
    max-width: 100%;
    height: auto;
}
/* under about the a */

.list-underball p a{
    background-color: #000;
    text-decoration: none;
    color: #fff;
    padding: 8px 16px;  
}
.list-underball p:hover a{
    color: #000;
    background-color: #ccc;
}
.list-underball > .col{
    padding: 0px 8px;
}

/* Our work */
.work-image{
    width: 100%;
    
}


/* The Team */
.member-list{
    filter: grayscale(75%);
}
.btn{
    display: block;
    width: 100%;
    border: none;
    height: 43px;
    color: #000;
    background-color: #f1f1f1;
}
.btn:hover{
    background-color: #ccc;
}

/* Under team */
.underteam-section{
    padding: 64px 16px;
    background-color: #616161;
    color: #fff;
}
.number-size{
    font-size: 36px;
}


/* Under-section */
.Under-section{
    padding: 64px 16px;
}

.fa{
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
}

/* Pricing */
.pri-ul{
    list-style-type: none;
}
.pri-ul li{
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.pri-hover-shadow:hover{
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.btn-black{
    padding: 12px 24px;
}
.btn-black:hover{
    color: #000;
    background-color: #ccc;
}
/* ---CONTACT_CONTENT--- */
.border-form{
    border: 1px solid #ccc;
}
.input-form{
    padding: 8px;
    display: block;
    width: 100%;
}
.btn-width{
    display: inline-block;
    border: none;
    padding: 8px 16px;
    vertical-align: middle;
    overflow: hidden;
    text-decoration: none;
    text-align: center;
    color: #000;
    background-color: #f1f1f1;
}
.btn-width:hover{
    background-color: #ccc;
}
.icons-hover:hover{
    color: #616161;
}
.hover-text-green:hover{
    color: green  !important;
}

#navbar .mobile-menu-btn{
    position:absolute;
    top: 0;
    right: 0;
    display: none;
}
#navbar .mobile-menu-btn,
#navbar .search-btn{
    float: right;
    padding: 0 21px;
    
}
#navbar .mobile-menu-btn:hover{
    background-color: #ccc;

}
#navbar .mobile-menu-btn:hover .menu-icon{
    color: #000;

}
/* @media only screen and (max-width: 739px){
    #Web1{
        display: block;
    }

}
@media only screen and (min-width: 740px) and (max-width: 1023px){
    #Web1{
        display: block;
    }
}
@media only screen and (min-width: 1024px){
    #Web1{
        display: block;
    }
} */